html, body {
    height: 100%;
    background-color: blue;
}
.main-container {
    height: 800px;
    width: 800px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.box-grid {
    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    
}